* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    height: 90vh;
    margin-top: 90px;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width:840px;
    margin-bottom: 50px;
    margin-top: 70px;
   
}

.haut {
    text-align: center; /* Centre le contenu horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu verticalement */
    
    margin-top: -80px;
}

.haut h1 {
    color: #0d474b;/* Couleur bleue pour le titre */
    font-weight: bold;
    font-size: 20px;
    
}

.haut p {
    font-size: 12px;
   
    color: rgb(56, 155, 47); /* Couleur verte pour le paragraphe */
    font-weight: bold;
}
.container h2{
   
   
    color:#0d474b;
    font-size: 19px;
    margin-left: 25px;
    margin-right: 10px;
   margin-top: 10px;
    margin-bottom: 5px;
    
}
.container h1{
   
       font-weight: bolder;
    color:#0d474b;
    font-size: 23px;
   text-align: center;
    
}


.formulaire{
    display: flex;
    align-items: center;
  margin-top:-150px;
  margin-left: -30px;
  
}

.imagee img{
       
    width: 280px;
    height: auto;
   margin-bottom: 700px;
   margin-left: 70px;
   margin-top: 300px;
    
  
     
 }
 .right{
    margin-top: -500px;
    margin-left: 30px;
    display:flex;
    flex-direction: column;
    
   
}
button{
    padding: 10px;
    background-color: #0d474b;
    border-radius: 5px;
    width: 150px;
    color: #fff;
    font-weight: bold;
    margin-left: 110px;
    margin-bottom: 30px;
    margin-top: -20px;
    cursor: pointer;
}
.formulaire2{
    margin-left: 70px;
    margin-top:-20px ;
}

.right p{
    color: rgb(56, 155, 47);
    font-weight: bold;
    margin-bottom: -50px;
    margin-top: -20px;
    
   
}
label[for="name"],label[for="birthdate"],label[for="sexe"],label[for="phone"],label[for="adresse"],label[for="email"],
label[for="username"],label[for="password"],label[for="confirm_password"]
 {
    /* Changer la police d'écriture */
    font-weight: bold;
    color: #0d474b;
    font-size: 14px; /* Changer la taille de la police d'écriture */
}
input[type="text"],
input[type="date"],
input[type="tel"],input[type="email"],input[type="password"],
select[id="sexe"] {
    border-radius: 5px;
    margin-right: 10px;
    height: 30px;
    
}
input[type="password"]{
    margin-left: 12px;
}