 
 <!DOCTYPE html>
 {% load static %}
 <html lang="fr">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Tableau de bord de l'administrateur</title>
     <link rel="stylesheet" href="{% static 'style3.css' %}">
 </head>
 <body>
    <div class="header">
        <p> Administrateur EPRESCRIBER </p>
        <button class="deconnexion">Déconnexion</button>
       </div>
       <div class="container">
        <div class="box">
          <a href="consultation.html">Nouvelles Inscriptions</a>
        </div>
        <div class="box">
          <a href="commande.html">Gestion des plaintes</a>
        </div>
      
      <div class="box">
        <a href="commande.html">Rapports Statistiques</a>
      </div>
       
      
      </div> 
      
     
      
   
 
    </div>
 
     
 </body>
 </html>