<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Interface de la Pharmacie</title>
<link rel="stylesheet" href="{% static 'style1.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
 <div class="header">
 <p> Pharmacie </p>
 <i class="material-icons">local_hospital</i>
</div>
<div class="container">
  <div class="box">
    <a href="consultation.html">Consultation des Stocks</a>
  </div>
  <div class="box">
    <a href="commande.html">Nos Commandes</a>
  </div>

<div class="box">
  <a href="commande.html">Commande en Attente</a>
</div>
<div class="box">
  <a href="commande.html">Historique</a>
</div>  

</div> 

</body>
</html>